<mat-card>
    <mat-list>
        <mat-list-item> 
            <mat-form-field>
                <input matInput placeholder="Super Name"  [formControl]="superName" [(ngModel)]="sSuperName" (change)="onSearchName()">
            </mat-form-field>
            <button mat-button *ngIf="sSuperName" matSuffix mat-icon-button aria-label="Clear" (click)="sSuperName=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-list-item> 
        
        <mat-list-item *ngIf=showSuperList>
            <mat-form-field>
                <mat-label>Select Super</mat-label>
                <mat-select [formControl]="supers" multiple [(ngModel)]="selected">
                    <mat-option *ngFor="let super of superList" [value]="super.id" [disabled]="selected?.length == 4 && !selected.includes(super.id)" (onSelectionChange)="onSelect($event)">
                        {{super.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
    </mat-list>
    <div *ngIf="showChart" id="chartdiv" style="width: 100%; height: 500px"></div>
</mat-card>
<router-outlet></router-outlet>
